*               <!--It wipes out all the unpredictable default margins and paddings that different browsers (Chrome, Safari, Firefox) apply automatically-->
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


body{background-color:#301934;
                color:#d1d5d2;
                line-height:1.6;
                font-size:25px;
                font-family:Arial,sans-serif;}
            h1{
                height:auto;
                border:10px solid #cd0a0a;
                padding:20px;
                margin:30px auto;
                color:#cd0a0a;
                font-family:"Courier New", Courier, monospace;
            }
            p, ul, h3, details 
            {
                margin-bottom: 20px;
            }
            .to_align{text-align:center;}
            .stamp
            {
                /*box:*/
                color: #cd0a0a;
                border: 8px solid #cd0a0a;
                font-size: 70px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                padding: 10px 30px;
                opacity: 0.6;
                /*position of the box:*/    
                position: absolute;
                top: 100px;
                right: 15%;
                transform: rotate(-15deg);
            }
            .hidden{background-color: #000;color:#000;transition: color 2s ease;}
            .hidden:hover{color:#8f9691}
            .whole_page
            {
                max-width:800px;
                width:90%;
                margin: 0 auto;
                position:relative;
            }
            summary
            {
                cursor: pointer;
                color: #148e6d;
            }
            summary:hover{color: #23f6be;}

            .typewriter 
            {
                color: #cd0a0a;
                font-family: "Courier New", Courier, monospace;
                font-size: 20px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;    /*just bear it*/
                animation: typing 3s steps(26) forwards;
            }
            @keyframes typing 
            {
                from { width: 0; }   
                to { width: 26ch; }       
            }